<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Update Employee Data</h3>
        <form [formGroup]="editForm.inputData" (ngSubmit)="updateEmployee()">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              formControlName="title"
            >
          </div>
        
          <div *ngIf="title && title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
            <div *ngIf="title.errors?.required">
              title is required.
            </div>
          </div>
        
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="firstName"
              name="firstName"
              formControlName="firstName"
            >
          </div>
        
          <div *ngIf="firstName && firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
            <div *ngIf="firstName.errors?.required">
              First Name is required.
            </div>
            <div *ngIf="firstName && firstName.errors?.pattern">
              First Name only accept alphabet.
            </div>
          </div>
        
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastName"
              name="lastName"
              formControlName="lastName"
            >
          </div>

          <div *ngIf="lastName && lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
            <div *ngIf="lastName.errors?.required">
              Last Name is required.
            </div>
            <div *ngIf="firstName && firstName.errors?.pattern">
              Last Name only accept alphabet.
            </div>
          </div>
        
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              formControlName="email"
            >
          </div>
        
          <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors?.required">
              Email is required.
            </div>
            <div *ngIf="email.errors?.email">
              Please use valid email.
            </div>
          </div>
        
        
          <div class="form-group">
            <label for="email">Role</label>
            <select formControlName="role" class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option *ngFor="let role of Roles" [ngValue]="role">{{role}}</option>
            </select>
          </div> 

          
          <div *ngIf="role && role.invalid && (role.dirty || role.touched)" class="alert alert-danger">
            <div *ngIf="role.errors?.required">
              Role is required.
            </div>
          </div> 
        
        
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              formControlName="password"
            >
          </div>
        
          <div *ngIf="password && password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
            <div *ngIf="password.errors?.required">
              Password is required.
            </div>
            <div *ngIf="password.errors?.minlength">
              Password minimum length is 6.
            </div>
          </div>
        
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="Password"
              class="form-control"
              id="confirmPassword"
              name="confirmPassword"
              formControlName="confirmPassword"
            >
          </div>
        
          <div *ngIf="confirmPassword && confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
            <div *ngIf="confirmPassword.errors?.required">
              Confirm Password is required.
            </div>
            <div *ngIf="confirmPassword.hasError('matching')">
              Confirm Password must match the Password value.
            </div>
          </div>
        
          <div class="form-group">
            <button class="btn btn-success btn-lg" type="submit">Update Employee</button>
          </div> 
        
        </form>

      </div>
    </div>
  </div>  
</div> 




 <!-- -->

<!-- <form (ngSubmit)="updateEmployee()" #empForm="ngForm">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" [(ngModel)]="employeeData.title" class="form-control">
  </div>

  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" [(ngModel)]="employeeData.FirstName" class="form-control" >
  </div>

  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" [(ngModel)]="employeeData.lastName" class="form-control" >
  </div>

  <div class="form-group">
    <label for="lastName">Email</label>
    <input type="text" name="email" id="email" [(ngModel)]="employeeData.email" class="form-control">
  </div>

  <div class="form-group">
    <label for="role">Role</label>
    <input type="text" name="role" id="role" [(ngModel)]="employeeData.role" class="form-control">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" [(ngModel)]="employeeData.password" class="form-control">
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="employeeData.confirmPassword" class="form-control">
  </div>

  <div class="form-group">
    <br>
    <button class="btn btn-success btn-lg btn-block" type="submit">Update Employee</button>
  </div>
</form> -->